<head> 
<title> CSS </title>
<link rel="stylesheet" href="./lab06/contact.html">
<link rel="stylesheet" href= "./lab06/skills.html">
<link rel="stylesheet" href= "./lab06/sorabella-bio.html">
</head>
<style>
body {font-family: Times New Roman, serif;
}
h1, h2 {color:cornflowerblue;
}
.evenrow {background-color: dimgrey;
}
h1 {font-size: 5em;
}
h2 {font-size: 2em;
}
</style> 
